PUBLIC_API_PORT = 8000
POSTGRES_HOST = 172.26.88.116
POSTGRES_PORT = 5432
POSTGRES_USERNAME = 
POSTGRES_PASSWORD = 
POSTGRES_DB = summary
MSSQL_HOST = 192.168.0.29
MSSQL_USERNAME = 
MSSQL_PASSWORD = 
MSSQL_DB = maindb
